Repository eugene-taran/sdsa.team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eugene-taran, @anyaSychugina, @sdsa-team

.github/CODEOWNERS:

# CODEOWNERS for sdsa.team repository

# Default owners for everything in the repo
* @eugene-taran @anyaSychugina

# Knowledge content requires review from maintainers
/knowledge/ @eugene-taran @anyaSychugina @sdsa-team

# Specific ownership for critical files
/knowledge/manifest.json @eugene-taran @anyaSychugina
/knowledge/catalog.json @eugene-taran @anyaSychugina @sdsa-team
/knowledge/authors.json @eugene-taran @anyaSychugina @sdsa-team

# Scripts and workflows need careful review
/.github/workflows/ @eugene-taran @anyaSychugina
/scripts/ @eugene-taran @anyaSychugina

# Documentation
/docs/ @eugene-taran @anyaSychugina @sdsa-team
*.md @anyaSychugina @sdsa-team

Add validation trigger on push to main branch
  .github/workflows/validate-pr.yml
Owners: @eugene-taran, @anyaSychugina

Remove path filters from validation workflow
  .github/workflows/validate-pr.yml
Owners: @eugene-taran, @anyaSychugina

Fix release by always doing validation (#2)
  .github/workflows/validate-pr.yml
Owners: @eugene-taran, @anyaSychugina

Update README Current Knowledge Blocks section
  README.md
Owners: @anyaSychugina, @sdsa-team

Add [skip ci] to release workflow commits
  .github/workflows/release.yml
Owners: @eugene-taran, @anyaSychugina

Update release workflow to use GitHub App authentication
  .github/workflows/release.yml
Owners: @eugene-taran, @anyaSychugina

Remove [skip ci] from release commit message
  .github/workflows/release.yml
Owners: @eugene-taran, @anyaSychugina

Add Mermaid flowchart visualizations for knowledge trees
  mermaid/cicd-pipeline.mmd
  mermaid/e2e-testing.mmd
Owners: @eugene-taran, @anyaSychugina

finalize
  .gitignore
  CLAUDE.md
  README.md
Owners: @eugene-taran, @anyaSychugina, @sdsa-team

finalize
  CLAUDE.md
  README.md
Owners: @anyaSychugina, @sdsa-team

finalize
  .github/workflows/release.yml
  .github/workflows/validate-pr.yml
  CLAUDE.md
  README.md
  contexts/categories.json
  contexts/categories/cicd/cicd-pipeline.json
  contexts/categories/e2e/e2e-testing.json
  docs/knowledge-tree-architecture.md
  docs/release-implementation-plan.md
  docs/release-strategy.md
  knowledge/authors.json
  knowledge/blocks/cicd-pipeline.yaml
  knowledge/blocks/e2e-testing.yaml
  knowledge/catalog.json
  knowledge/manifest.json
  knowledge/resources/cypress-modern-setup.md
  knowledge/resources/playwright-parallel-setup.md
  mermaid/cicd-pipeline.mmd
  mermaid/e2e-testing.mmd
  scripts/bump-version.js
  scripts/generate-checksums.js
  scripts/validate.js
Owners: @eugene-taran, @anyaSychugina, @sdsa-team

finalize
  .github/workflows/validate-pr.yml
Owners: @eugene-taran, @anyaSychugina

Finalize structure (#3)
  .github/workflows/release.yml
  .github/workflows/validate-pr.yml
  .gitignore
  CLAUDE.md
  README.md
  contexts/categories.json
  contexts/categories/cicd/cicd-pipeline.json
  contexts/categories/e2e/e2e-testing.json
  docs/knowledge-tree-architecture.md
  docs/release-implementation-plan.md
  docs/release-strategy.md
  knowledge/authors.json
  knowledge/blocks/cicd-pipeline.yaml
  knowledge/blocks/e2e-testing.yaml
  knowledge/catalog.json
  knowledge/manifest.json
  knowledge/resources/cypress-modern-setup.md
  knowledge/resources/playwright-parallel-setup.md
  scripts/bump-version.js
  scripts/generate-checksums.js
  scripts/validate.js
Owners: @eugene-taran, @anyaSychugina, @sdsa-team

deprecate
  README.md
Owners: @anyaSychugina, @sdsa-team
